{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "globals": {
    "chrome": true,
    "crypto": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "generator-star-spacing": 0
  }
}
